<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PortName" value="COM3"/>
    <add key="BaudRate" value="2400"/>
    <add key="Parity" value="None"/>
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="Two"/>
    <add key="Handshake" value="None"/>
    <add key="RemoteTCPServer" value="127.0.0.1:13001"/>
    <add key="EnableRemote" value="false"/>
    <add key="SerialEndianSwap" value="false"/>
  </appSettings>
</configuration>